@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h2 class="titulo" <a href="index.html">Rent a Husband</a></h2>
	<h1 class="subtitulo">Para encontrar a pessoa certa pro serviço.</h1>
</div>

	<section id="features">
		<div class="container">
			<header>
				<h2>Conheça o <strong>Rent a Husband</strong>!</h2>
			</header>
			<div class="row aln-center">
				<div class="col-4 col-6-medium col-12-small">

					<!-- Feature -->
					<section>
						<a href="#" class="image featured"><img src="~/images/pic01.jpg" alt="" /></a>
						<header>
							<h3>O que é?</h3>
						</header>
						<p>
							O <strong>Rent a Husband</strong> é um site onde você pode encontrar e oferecer serviços
							de marido de aluguel em todo Brasil, sendo pioneiro no ramo!
						</p>
					</section>

				</div>
				<div class="col-4 col-6-medium col-12-small">

					<!-- Feature -->
					<section>
						<a href="#" class="image featured"><img src="images/pic02.jpg" alt="" /></a>
						<header>
							<h3>Pra quê usar?</h3>
						</header>
						<p>
							Além da facilidade, esse é o maior centro nacional de maridos de aluguel. Quem procura no
							<strong>Rent a Husband</strong>, acha!
						</p>
					</section>

				</div>
				<div class="col-4 col-6-medium col-12-small">

					<!-- Feature -->
					<section>
						<a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
						<header>
							<h3>Como funciona?</h3>
						</header>
						<p>
							Você pode se cadastrar para prestar serviços ou buscar profissionais na sua região usando
							a aba "Maridos de Aluguel"
						</p>
					</section>

				</div>
				<div class="col-12">
					<ul class="actions">
						<li><a href="#" class="button icon solid fa-file">Quero usar!</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>


</div>
