@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="classeLegal"><a href="index.html">Rent a Husband</a></h2>
    <h1>Para encontrar a pessoa certa pro serviço.</h1>

</div>
