@{
    ViewData["Title"] = "Sobre nós";
}

<div class="text-center">
    <h2 class="titulo">@ViewData["Title"]</h2>
</div>

<p class="text-center">Este WebApp foi criado por David Freitas</p>

<div class="text-center">
    <ul style="list-style-type:none; padding: 0;">
        <li>
            <a href="https://www.linkedin.com/in/david-freitas51/">Meu LinkedIn</a>
        </li>
        <li>
            <a href="https://github.com/davidfreitas51">Meu GitHub</a>
        </li>
    </ul>
</div>
